//Color de texto
$color-text:#000;
$color-text-footer:#fff;

//color de fondo - colores generales
//Background del body y slider y .producto
$color-background-body-slider-product:#d6d8df;
//Background del header y boton de los productos
$color-background-header:#fff1cf;
//Background nav y .inicioProductos
$color-background-nav:#fff;
//Background del footer
$color-background-footer:#9196ae;
//Background color hover
$color-background-capaVideo:rgba($color-text, 0.5);




